.banner__container {
    width: 100%;
    height: 100vh;

    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position-x: 28%;
    background-size: cover;

    @include tablet {
        height: 100vh;
        background-image: url('../images/banner.png');

        background-position-x: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    @include desktop {
        height: 100vh;
        background-image: url('../images/banner.png');

        background-position-x: 0%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.banner__grid {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;


    text-align: center;
    align-items: center;

    

    .box_info {
        flex:100%;
        width: 510px;
        align-self: center;
        align-items: center;
        margin-top: 22%;

        @include tablet {
            margin-top: 18%;
        }

        @include desktopGrande{
            margin-top: 12%;
        }

        .text {
            text-align: center;
            margin-top: 1rem;

            @include tablet{
                text-align: center;
                margin-top: 1.5rem;
            }


            p {
                margin-top: 2rem;
                width: 310px;
                color: white;
                font-size: 1.3rem;
                text-align: center;
                margin: auto;
                margin-bottom: 2rem;
                font-family: $segoe;

                @include tablet {
                    width: 510px;
                    text-align: center;
                    font-size: 1.3rem;
                }

                @include desktop{
                    font-size: 1.4rem;
                    width: 519px;
                }
            }

            hr {
                margin: auto;
                width: 70%;
                height: 5px;
                background-color: white;

                @include tablet{
                    width: 50%;
                }

                @include desktop{
                    width: 25%;
                }
            }
        }
    }

    .texto_banner {
        width: 100%;

        h1 {
            font-family: $myriad;
            font-weight: 100;
            font-size: 1.5rem;
            color: white;
            text-align: start;
            padding: 0 0 0rem 2rem;
            margin-bottom: -2.5rem;

            @include tablet {
                font-weight: 100;
                font-size: 3rem;
                padding: 0 0 0rem 2rem;
                margin-bottom: -7.5rem;
            }

            @include desktop{
                margin-bottom: -3rem;
            }

            @include desktopGrande{
                margin-bottom: -2rem;
                font-size: 3.5rem;
            }
        }
    }

}